---
strategy: polling
no_screen_padding: 'no'
dark_mode: 'no'
static_data: ''
polling_verb: get
polling_url: |
  {{ pixelfed_base_url }}/api/v2/instance
  {{ pixelfed_base_url }}/api/v1/accounts/verify_credentials
  {{ pixelfed_base_url }}/api/v1/timelines/home?limit=9
  {{ pixelfed_base_url }}/api/v1/timelines/tag/{{ pixelfed_tag | replace: '#', '' | default: 'pixelfed' }}?limit=9
polling_headers: Authorization=Bearer {{ pixelfed_api_key }}
polling_body: ''
id: 103958
custom_fields:
- keyname: author_bio
  name: About This Plugin
  field_type: author_bio
  description: Show latest photos from your Pixelfed timeline.
  github_url: https://github.com/stephenyeargin/trmnl-pixelfed
  learn_more_url: https://pixelfed.org
  email_address: stephen@yearg.in
- keyname: pixelfed_base_url
  field_type: url
  name: Pixelfed Instance URL
  description: The base URL of your Pixelfed instance
  placeholder: https://pixelfed.social
- keyname: pixelfed_api_key
  field_type: password
  name: Pixelfed API Key
  description: Your Pixelfed Personal Access Token (PAT) with &quot;read&quot; permission, found in <code>Settings &raquo; Applications</code>.
  placeholder: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.xxxxxxxx.xxxxxxxx
- keyname: pixelfed_tag
  field_type: string
  name: Tag
  description: Enter a hashtag to show instead of your Home Feed
  placeholder: "#pixelfed"
  optional: true
- keyname: pixelfed_layout
  field_type: select
  name: Layout
  description: How to present the photos
  default: 4col_x_2row
  options:
  - 1 column x 1 row: 1col_x_1row
  - 2 columns x 1 row: 2col_x_1row
  - 2 columns x 2 rows: 2col_x_2row
  - 3 columns x 1 row: 3col_x_1row
  - 3 columns x 2 rows: 3col_x_2row
  - 3 columns x 3 rows: 3col_x_3row
  - 4 columns x 1 row: 4col_x_1row
  - 4 columns x 2 rows: 4col_x_2row
- keyname: pixelfed_object_fit
  field_type: select
  name: Fit
  description: Whether to crop the photo to fit the space
  default: cover
  options:
  - Cover (crop longest side to cover space): cover
  - Contain (fit to space, do not crop): contain
  - Fill (stretch to fill space): fill
name: Pixelfed
refresh_interval: 60
